#main-footer {
    background: var(--dark);
    color: white;
}

#main-footer img {
    width: 150px;
}

#main-footer a {
    color: white;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child{
    background: #444;
    grid-column: 1 / span 4;
    padding: .5rem;
    text-align: center;
    font-size: 0.75rem;
}
 
#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: .5rem;
    margin-bottom: .5rem;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
}

.list li {
    padding: .5rem 0;
    border-bottom: #555 dotted 1px;
    width: 90%;
}

#main-footer div > ul.list li a:hover {
    color: var(--primary);
}