#showcase {
    color: white;
    background: var(--dark);
    padding: 2rem;
    position: relative;
}

#showcase::before {
    content: '';
    background: url('https://source.unsplash.com/1920x1080/?weed') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#showcase .showcase-content {
    z-index: 1;
}

#showcase .showcase-content p {
    margin-bottom: 1rem;
}

/* utility */
.category {
    display: inline-block;
    color: white;
    font-size: 0.6rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.category-sports {  background: var(--sports-color) }
.category-ent {  background: var(--ent-color) }
.category-tech {  background: var(--tech-color) }

